language: ruby
rvm:
- 2.2
- 1.9.3
env:
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=centos:7 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=debian:7 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=fedora:20 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=fedora:24 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=ubuntu:12.04 ANSIBLE_VERSIONS=2.1.0.0
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=1.4.4
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=1.5.4
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=1.9.2
- DOCKER_IMAGES=ubuntu:16.04 ANSIBLE_VERSIONS=2.1.0.0
services:
- docker
script:
  - wget -O- bit.ly/ansibletest | sh -x
after_failure:
- cat role-tester-ansible-master/.kitchen.yml
- cat role-tester-ansible-master/.kitchen.local.yml
- cat role-tester-ansible-master/.kitchen/logs/*.log | grep -v '^I, '
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    on_success: change
    on_failure: change
    rooms:
    - secure: Ik1yq73B4KNEJixrNRv45/W/HuFOlGkInlom7ffWR0tV64LItJ+ZsNxauCn2NylzP8ggwfjGYKEez5b8foLSZmLAAZUyKNDZl0024SVqwMTqbFo9vI35mhyUExhIhBvCY/qSTmIri+jWNPcALCApbP3hnuTfwLuBuIxXQMxj0x/TTwyr43odllo3+xiejV+6/GdgvPHlE3H8GR1dLYRG2zym7BnyGeFexH/CKv0xHMORwk9TjkV4Ky9wUIIy2nn/D32Z8zUzeWCoo/xNeenMdrZHwerEuCyWRz5sIymtyavJqMsEkfIzXWPRCKOgg1xp1V0Y6t8LBNaBwAqdE4oQkZaWTJBt6lW0uoPdmYzrJwRdqjzlPg5kSH9L9556+Q5JCTzrOg1HBOZR0oj+DOdJw9iJ5k3Vo3pyGCod24tSfPuQ8A9599ZMV7+n1GGdJtVsj27i5+FOMBHLXOJwcxn0BMMw5/GkiCvGLbNAlMNm9ZCW3oYPZL2p1JR3EJvVTXmtWSV44HSJiqzcg0pza9LIzO0fbmWL4HOhSDFJQwJgtR7SlMaUjv0a1HDBS2FI+xJxFCb0pKzBmwQSs9gSV5XrfV2Pfj4sfz9eyHklCCvPldmX0xuK94+hB5xeXZBJdWhdRJxINFiwBqlRZAxpmfpUfXECN2O00+n8bEX1FMpCzKU=
  email:
    recipients:
      secure: bPbZ0lC+cIIJVuL09N5RnMt+QDJhrVhPxW1202eZHm9gzN1XqXU6IodJ6axPUo7n8dvCX4MD8q1t2AKbk7ugEjyS4BmPWaYJO2OhNN7duzjwZen4DDUE6oh+dLK5HRLMsAgbydecRkJ+TCfwxe4HHrUPlpRTV5UuixwdwxEpPFIOQYm0cexsJd3wjxP6OQquJXeNXPONE5Xowe+Rx7Lowmni5//f7abTqUc3Xn+oepxUZ9TTtKzi2HG2uPApF5BcgfZF14XlXJW+p7hng7HzM6to04+ClDP0I7t7f5u2MgFYutAqL2Y7q4rcRrvu4Cx9gEGB+DLohL6fNJ0XdK4nKMTHeoVYewgRBfwc+geYCru8NnPZF2yyWXMHDW/LwjWuv9EG75/UZ2Fn53v43H5Q4QvJSbQZ64zfIIYc13VjskOgIBCwI2NgFgaLrXghGMymI2ZSOasa8H0UXN4JCGHESUD2U2f+oUa5SD4yEmzMWdk4Al0Wz0j3m5YoyYCyk+ltzGynSelMFbtcLyMGf1wlTJmPOf1mpTnV7wMS0WSafOTjcftAQpMJu6T9c/HyBZHIAth+HuWhx0EAneJhqxeeIl3z1v8vCdCahKldjXcr1eFExvqsKkpixmXDs5/VYF2BaBI0o/x3N2Zkn+3rrKMFkHA4Dvj55/Vkt7SVnplWM9c=
